:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #151515;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.codeBlockLines {
  position: fixed;
  top: 100px;
  left: 100px;
  padding: 100px 10px;
  background-color: #1a1a1a;
}

.box {
  background-color: rgba(26, 26, 26, 0.87);
  padding: 15px 20px;
  width: 250px;
  height: 200px;
  position: fixed;
  top: 600px;
  left: 450px;
  color: white;
  border-radius: 8px; 
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 0.3s ease;
}

.box:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.box2 {
  background-color: rgba(26, 26, 26, 0.87);
  padding: 15px 20px;
  width: 250px;
  height: 200px;
  position: fixed;
  top: 610px;
  left: 780px;
  color: white;
  border-radius: 8px; 
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 0.3s ease;
}

.box2:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.box3 {
  background-color: rgba(26, 26, 26, 0.87);
  padding: 15px 20px;
  width: 250px;
  height: 200px;
  position: fixed;
  top: 600px;
  left: 1110px;
  color: white;
  border-radius: 8px; 
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 0.3s ease;
}

.box3:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.typescript {
  color: white;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), color 0.3s ease;
}

.typescript:hover {
  color: rgb(66, 154, 255);
  cursor: pointer;
}

.use {
  color: white;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), color 0.3s ease;
}
.use:hover {
  color: rgb(66, 154, 255);
  cursor: pointer;
}